# Environment requirements
jupyter_contrib_nbextensions>0.5, <0.6
jupyter-offlinenotebook>=0.2, <0.3
constellate-client >= 0.0.6
# Notebook requirements
pandas>=1.4.2, <2
gensim>=3.8.3, <4
nltk>=3.7, <4
pyLDAvis==3.2.2
matplotlib>=3.5.1, <4
vaderSentiment>=3.2.1, <4
numpy>=1.22.3, <2
Pillow>=9.1, <10
wordcloud>=1.8.1, <2
spacy>=3.2.4, <4
