git+git://github.com/lawlesst/itap-jupyter-notebookparams.git#egg=itap-jupyter-notebookparams
jupyter_contrib_nbextensions
requests
progressbar
pandas
gensim
nltk
pyLDAvis==3.2.2
matplotlib
vaderSentiment
